@charset "UTF-8";
a, i, .mba-sz-lx .cont-item .item-r .r-title::before, .mba-sz-lx .cont-item .item-r .r-detail .detail-row span, #footer-div .links a { display: inline-block; *zoom: 1; *display: inline; }

.mba-sz-head, .mba-sz-head .head-r .r-nav ul, .mba-sz-bk .bk-plan, .mba-sz-schools .schools-cont, .mba-sz-lx .tab-head, .mba-sz-lx .cont-item, .mba-sz-courses .courses-cont, .mba-sz-lce .lce-cont ul, .mba-sz-worker .worker-cont { zoom: 1; }
.mba-sz-head:after, .mba-sz-head .head-r .r-nav ul:after, .mba-sz-bk .bk-plan:after, .mba-sz-schools .schools-cont:after, .mba-sz-lx .tab-head:after, .mba-sz-lx .cont-item:after, .mba-sz-courses .courses-cont:after, .mba-sz-lce .lce-cont ul:after, .mba-sz-worker .worker-cont:after { clear: both; }
.mba-sz-head:before, .mba-sz-head .head-r .r-nav ul:before, .mba-sz-bk .bk-plan:before, .mba-sz-schools .schools-cont:before, .mba-sz-lx .tab-head:before, .mba-sz-lx .cont-item:before, .mba-sz-courses .courses-cont:before, .mba-sz-lce .lce-cont ul:before, .mba-sz-worker .worker-cont:before, .mba-sz-head:after, .mba-sz-head .head-r .r-nav ul:after, .mba-sz-bk .bk-plan:after, .mba-sz-schools .schools-cont:after, .mba-sz-lx .tab-head:after, .mba-sz-lx .cont-item:after, .mba-sz-courses .courses-cont:after, .mba-sz-lce .lce-cont ul:after, .mba-sz-worker .worker-cont:after { content: ""; display: table; }

.mba-sz-bk .bk-plan .plan-item .item-title, .mba-sz-schools .schools-cont .cont-item .item-title { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

input, textarea, select { font-family: "微软雅黑"; }

input[type="text"] { text-indent: 1em; }

input[type="submit"] { border: none; }

input[type="text"], select { border: none; outline: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; }
input[type="text"]::-webkit-input-placeholder, select::-webkit-input-placeholder { color: #999; font-size: inherit; }
input[type="text"]:-moz-placeholder, select:-moz-placeholder { color: #999; font-size: inherit; }
input[type="text"]::-moz-placeholder, select::-moz-placeholder { color: #999; font-size: inherit; }
input[type="text"]:-ms-input-placeholder, select:-ms-input-placeholder { color: #999; font-size: inherit; }

.wrap { width: 1200px; margin: 0 auto; }

i { font-style: normal; }

.mba-sz-head { padding-bottom: 26px; }
.mba-sz-head .head-l { float: left; }
.mba-sz-head .head-l .l-logo { width: 162px; height: 50px; padding-top: 10px; }
.mba-sz-head .head-l .l-logo img { width: 100%; }
.mba-sz-head .head-r { float: right; padding-top: 29px; font-size: 16px; line-height: 32px; }
.mba-sz-head .head-r .r-nav { float: left; color: #333333; }
.mba-sz-head .head-r .r-nav ul li { float: left; padding: 0 30px; }
.mba-sz-head .head-r .r-nav ul li a:hover { color: #f55436; }
.mba-sz-head .head-r .r-tel { float: left; }
.mba-sz-head .head-r .r-tel .tel-zx { color: #ffffff; padding: 0 15px; background-image: linear-gradient(-74deg, #f1423b 0%, #f96432 100%); box-shadow: 2px 2px 7px 0px rgba(241, 85, 32, 0.4); border-radius: 6px; vertical-align: middle; margin: 0 20px; }
.mba-sz-head .head-r .r-tel span { font-size: 22px; font-weight: bold; color: #f15520; vertical-align: middle; padding-left: 25px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/tel.png) no-repeat center left; }

.mba-sz-banner { height: 552px; }
.mba-sz-banner .wrap { padding: 364px 0 0 76px; box-sizing: border-box; }
.mba-sz-banner a { width: 181px; height: 49px; margin-right: 24px; }

.mba-sz-title { text-align: center; color: #333333; }
.mba-sz-title p { margin: 0 0 16px; padding: 0; font-size: 38px; line-height: 38px; }
.mba-sz-title p span { color: #f86132; }
.mba-sz-title .title-intro { width: 454px; font-size: 16px; line-height: 26px; color: #cfdbff; margin: 0 auto 8px; }

.mba-sz-btn { background-image: linear-gradient(-74deg, #f1423b 0%, #f96432 100%); box-shadow: 2px 2px 7px 0px rgba(241, 85, 32, 0.4); border-radius: 7px; font-size: 18px; color: #ffffff; }

.mba-sz-bk { position: relative; padding: 340px 0 65px; }
.mba-sz-bk .bk-plan { width: 1130px; height: 372px; padding: 22px 27px; box-sizing: border-box; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/bg_1.png) no-repeat center; position: absolute; top: -87px; left: 0; right: 0; margin: auto; }
.mba-sz-bk .bk-plan .plan-item { width: 32%; text-align: center; float: left; padding: 10px 15px 20px; box-sizing: border-box; }
.mba-sz-bk .bk-plan .plan-item .icon { width: 54px; height: 56px; line-height: 52px; font-size: 20px; color: #fff; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_1.png) no-repeat; text-align: center; }
.mba-sz-bk .bk-plan .plan-item .icon.red { background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_2.png) no-repeat; }
.mba-sz-bk .bk-plan .plan-item .item-title { font-size: 16px; line-height: 28px; color: #333333; padding-bottom: 13px; }
.mba-sz-bk .bk-plan .plan-item .item-btn { height: 33px; line-height: 30px; padding: 0 13px; font-size: 16px; color: #f55436; border: 1px solid #f55436; box-sizing: border-box; box-shadow: 2px 2px 7px 0px rgba(241, 85, 32, 0.4); border-radius: 7px; }
.mba-sz-bk .bk-plan .plan-item .item-btn:hover { background-image: linear-gradient(-74deg, #f1423b 0%, #f96432 100%); color: #fff; }
.mba-sz-bk .bk-plan .plan-item:nth-of-type(2) { width: 36%; }
.mba-sz-bk .bk-plan .plan-item:nth-of-type(5) { width: 36%; }
.mba-sz-bk .sign-in { padding: 42px 0 30px 50px; box-sizing: border-box; }
.mba-sz-bk .sign-in input, .mba-sz-bk .sign-in select { width: 170px; height: 48px; line-height: 48px; background-color: #f3f8ff; border-radius: 7px; border: solid 1px #a6afca; box-sizing: border-box; font-size: 14px; margin-right: 14px; }
.mba-sz-bk .sign-in select { padding: 0 14px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_12.png) no-repeat 92% center #f3f8ff; }
.mba-sz-bk .sign-in .mba-sz-btn { border: none; font-size: 18px; cursor: pointer; }
.mba-sz-bk .bk-hint { font-size: 16px; line-height: 28px; color: #666666; text-align: center; }
.mba-sz-bk .bk-hint em { color: #f2463b; }

.mba-sz-schools { padding: 52px 0 40px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/bg_2.png) no-repeat center; }
.mba-sz-schools .schools-cont { padding-top: 24px; }
.mba-sz-schools .schools-cont.wrap { width: 1100px; }
.mba-sz-schools .schools-cont .cont-item { float: left; width: 254px; font-size: 16px; line-height: 28px; color: #444444; text-align: center; margin-right: 28px; margin-bottom: 35px; }
.mba-sz-schools .schools-cont .cont-item .item-title { padding-top: 7px; }
.mba-sz-schools .schools-cont .cont-item:nth-of-type(4n + 4) { margin-right: 0; }
.mba-sz-schools .schools-btn { display: block; width: 292px; height: 68px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/btn_1.png) no-repeat; margin: 0 auto; font-size: 18px; line-height: 48px; color: #ffffff; text-align: center; }
.mba-sz-schools .schools-btn .icon-l { width: 16px; height: 16px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_3.png) no-repeat; vertical-align: middle; }
.mba-sz-schools .schools-btn .icon-r { width: 14px; height: 11px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_4.png) no-repeat; vertical-align: middle; }

.mba-sz-lx { padding: 83px 0 53px; }
.mba-sz-lx .tab { padding: 30px 0; }
.mba-sz-lx .tab-head .head-title { float: left; width: 140px; padding: 12px 0 0 0; box-sizing: border-box; height: 80px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_5.png) no-repeat; font-size: 20px; font-weight: bold; line-height: 24px; color: #ffffff; position: relative; z-index: 10; text-align: center; }
.mba-sz-lx .tab-head .head-title span { font-weight: normal; font-size: 16px; line-height: 16px; color: #fefefe; white-space: nowrap; }
.mba-sz-lx .tab-head ul { width: 1072px; height: 72px; line-height: 72px; float: left; margin-left: -12px; border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; box-sizing: border-box; }
.mba-sz-lx .tab-head ul li { width: 20%; float: left; height: 72px; font-size: 16px; color: #333333; border-right: 1px solid #e6e6e6; box-sizing: border-box; cursor: pointer; text-align: center; }
.mba-sz-lx .tab-head ul li.cur { background-color: #dfeafb; border: solid 1px #c5d6ee; color: #2f4ca2; font-weight: bold; margin-top: -1px; margin-left: -1px; position: relative; }
.mba-sz-lx .tab-head ul li.cur::before { content: ""; width: 0; height: 0; border-top: 10px solid #f3f8ff; border-right: 10px solid transparent; border-left: 10px solid transparent; position: absolute; bottom: -8px; left: 0; right: 0; margin: auto; z-index: 10; }
.mba-sz-lx .tab-head ul li.cur::after { content: ""; width: 0; height: 0; border-top: 11px solid #d0dbeb; border-right: 11px solid transparent; border-left: 11px solid transparent; position: absolute; bottom: -10px; left: 0; right: 0; margin: auto; }
.mba-sz-lx .cont-item { padding-top: 15px; display: none; }
.mba-sz-lx .cont-item.cur { display: block; }
.mba-sz-lx .cont-item .item-l { float: left; width: 538px; height: 338px; }
.mba-sz-lx .cont-item .item-l img { width: 100%; height: 100%; }
.mba-sz-lx .cont-item .item-r { float: left; width: 662px; height: 338px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/bg_4.png) no-repeat #fff; box-shadow: 0px 0px 13px 0px rgba(65, 65, 65, 0.14); padding: 24px 0 0 30px; box-sizing: border-box; }
.mba-sz-lx .cont-item .item-r .r-title { font-size: 24px; line-height: 28px; color: #333333; font-weight: bold; margin-bottom: 16px; }
.mba-sz-lx .cont-item .item-r .r-title::before { content: ""; width: 6px; height: 29px; background-image: linear-gradient(-74deg, #f1423b 0%, #f96432 100%); vertical-align: middle; margin-right: 14px; }
.mba-sz-lx .cont-item .item-r .r-title span { vertical-align: middle; }
.mba-sz-lx .cont-item .item-r .r-intro { font-size: 16px; line-height: 25px; color: #666666; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.mba-sz-lx .cont-item .item-r .r-intro span { color: #333333; font-weight: bold; }
.mba-sz-lx .cont-item .item-r .r-detail { border-top: 1px solid #e2e2e2; margin: 12px 17px 0 0; padding: 14px 0; }
.mba-sz-lx .cont-item .item-r .r-detail .detail-row { font-size: 16px; line-height: 36px; color: #666666; }
.mba-sz-lx .cont-item .item-r .r-detail .detail-row span { min-width: 230px; padding-left: 25px; box-sizing: border-box; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_6.png) no-repeat center left; }
.mba-sz-lx .cont-item .item-r .r-detail .detail-row span:nth-of-type(2) { background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_7.png) no-repeat center left; }
.mba-sz-lx .cont-item .item-r .r-detail .detail-row em { color: #333333; }
.mba-sz-lx .cont-item .item-r .r-detail .detail-row:nth-of-type(2) span { background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_8.png) no-repeat center left; }
.mba-sz-lx .cont-item .item-r .r-detail .detail-row:nth-of-type(2) span:nth-of-type(2) { background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_9.png) no-repeat center left; }
.mba-sz-lx .cont-item .item-r .r-btn a { font-size: 18px; padding: 0 14px; height: 48px; line-height: 46px; background-color: #ffffff; box-shadow: 2px 2px 7px 0px rgba(241, 85, 32, 0.16); border-radius: 7px; border: solid 1px #f34d38; box-sizing: border-box; color: #f75835; margin-right: 26px; }
.mba-sz-lx .cont-item .item-r .r-btn a.mba-sz-btn { color: #fff; }
.mba-sz-lx .cont-item .item-r .r-btn a .icon { width: 16px; height: 16px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_3.png) no-repeat; vertical-align: middle; margin-right: 6px; }
.mba-sz-lx .cont-item .item-r .r-btn a:nth-of-type(2) .icon { width: 17px; height: 15px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_10.png) no-repeat; }

.mba-sz-courses { padding: 52px 0; box-sizing: border-box; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/bg_3.png) no-repeat center; }
.mba-sz-courses .mba-sz-title { color: #fff; }
.mba-sz-courses .courses-cont { padding-top: 34px; }
.mba-sz-courses .courses-cont .cont-item { float: left; width: 181px; border-radius: 8px; border: solid 2px #839cee; color: #fff; line-height: 26px; text-align: center; padding: 24px 0 18px; box-sizing: border-box; margin-right: 22px; margin-bottom: 28px; }
.mba-sz-courses .courses-cont .cont-item:nth-of-type(6n + 6) { margin-right: 0; }
.mba-sz-courses .courses-cont .cont-item img { margin-bottom: 14px; }
.mba-sz-courses .courses-cont .cont-item .item-en { font-size: 14px; }
.mba-sz-courses .courses-cont .cont-item .item-cn { font-size: 20px; margin-bottom: 10px; }
.mba-sz-courses .courses-cont .cont-item a { padding: 0 11px; font-size: 16px; height: 27px; background-color: #f86132; border-radius: 4px; color: #fff; }
.mba-sz-courses .courses-cont .cont-item:hover { background: #fff; }
.mba-sz-courses .courses-cont .cont-item:hover .item-en { color: #666666; }
.mba-sz-courses .courses-cont .cont-item:hover .item-cn { color: #444444; }
.mba-sz-courses .courses-btn { display: block; width: 200px; height: 48px; line-height: 48px; background-color: #ffffff; box-shadow: 8px 9px 7px 0px rgba(23, 50, 133, 0.68); border-radius: 7px; margin: 0 auto; font-size: 18px; color: #2a4496; text-align: center; }
.mba-sz-courses .courses-btn .icon { width: 14px; height: 11px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_11.png) no-repeat; margin-left: 10px; }

.mba-sz-lce { padding: 84px 0 0; }
.mba-sz-lce .lce-cont { padding-top: 55px; }
.mba-sz-lce .lce-cont ul { margin-right: -48px; }
.mba-sz-lce .lce-cont ul li { float: left; width: 368px; height: 240px; margin-right: 48px; margin-bottom: 47px; }
.mba-sz-lce .lce-cont ul li img { width: 100%; height: 100%; }

.mba-sz-worker { padding: 57px 0 45px; }
.mba-sz-worker .worker-cont { padding: 55px 0 17px; margin-right: -24px; }
.mba-sz-worker .worker-cont .cont-item { float: left; width: 384px; height: 157px; background-color: #ffffff; box-shadow: 0px 0px 13px 0px rgba(65, 65, 65, 0.14); margin-right: 24px; margin-bottom: 26px; }
.mba-sz-worker .worker-cont .cont-item .item-l { float: left; width: 162px; height: 100%; }
.mba-sz-worker .worker-cont .cont-item .item-l img { width: 100%; height: 100%; }
.mba-sz-worker .worker-cont .cont-item .item-r { float: left; width: 222px; padding: 18px 20px 0 23px; box-sizing: border-box; }
.mba-sz-worker .worker-cont .cont-item .item-r .r-title { font-size: 24px; font-weight: bold; line-height: 28px; color: #333333; margin-bottom: 16px; }
.mba-sz-worker .worker-cont .cont-item .item-r p { font-size: 16px; line-height: 24px; color: #666666; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.mba-sz-worker .worker-btn { display: block; width: 200px; height: 48px; line-height: 48px; background-image: linear-gradient(-74deg, #f1423b 0%, #f96432 100%); box-shadow: 2px 2px 7px 0px rgba(241, 85, 32, 0.4); border-radius: 7px; margin: 0 auto; font-size: 18px; color: #fff; text-align: center; }
.mba-sz-worker .worker-btn .icon { width: 14px; height: 11px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_4.png) no-repeat; margin-left: 10px; }

#footer-div { height: 115px; width: 100%; padding: 30px; box-sizing: border-box; background: #f5f5f5; text-align: center; color: #666; font-size: 12px; color: #333; }
#footer-div li { display: inline; }
#footer-div .dib-wrap .dib { margin: 0 5px; font-size: 12px; letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline; }
#footer-div p { margin: 3px 0 10px 0; color: #666; }
#footer-div p a:hover { color: #f05630; }
#footer-div a { color: #444; }
#footer-div .links { color: #999; }
#footer-div .links a { margin-left: 9px; padding-right: 12px; color: #444; border-right: 1px solid #ccc; height: 12px; line-height: 10px; margin-right: 0; }

/* 弹窗 */
.mba-sz-mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 30; display: none; }
.mba-sz-mask .masklayer { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
.mba-sz-mask .mask-cont { width: 524px; height: 460px; transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%; z-index: 1; padding: 40px 32px 20px; box-sizing: border-box; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/form.png) no-repeat center; }
.mba-sz-mask .mask-cont .mab-sz-close { width: 16px; height: 16px; position: absolute; top: 24px; right: 24px; cursor: pointer; margin-right: 0; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/close.png) no-repeat; }
.mba-sz-mask .mask-cont .mba-sz-title { margin-bottom: 13px; color: #fff; }
.mba-sz-mask .mask-cont .mba-sz-title p { margin: 0 0 10px; }
.mba-sz-mask .mask-cont .sign-in { padding: 30px 20px 10px; box-sizing: border-box; background-color: #fff; border-radius: 6px; font-size: 16px; }
.mba-sz-mask .mask-cont .sign-in input, .mba-sz-mask .mask-cont .sign-in select { width: 100%; height: 42px; line-height: 42px; border: solid 1px #e7e7e7; box-sizing: border-box; margin-bottom: 20px; border-radius: 7px; }
.mba-sz-mask .mask-cont .sign-in select { padding: 0 16px; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_12.png) no-repeat 96% center #fff; }
.mba-sz-mask .mask-cont .sign-in select:nth-of-type(2) { float: right; }
.mba-sz-mask .mask-cont .sign-in input[type="submit"] { border: none; cursor: pointer; }

/*# sourceMappingURL=index.css.map */
